body {
    font-family: "Inter", sans-serif;
    background: #ededed;
}

/* navbar style  */
#nav-dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.2s ease-in-out;
}
#nav-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#navbar {
    position: relative;
    transition: background-color 0.3s ease;
}

#navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-top: 1rem;
}

#navbar.sticky #share-icon-container img {
    filter: invert(1) brightness(0);
}
#navbar.sticky .default-logo {
    display: none;
}
#navbar.sticky .sticky-logo {
    display: block;
}
#navbar.sticky #share-icon-container img {
    filter: invert(1) brightness(0);
}
#navbar.sticky #download-button {
    border: 1px solid #2042b6;
    color: black;
    background-color: white;
}

#navbar.sticky #share-icon-container {
    border: 1px solid #afcd80;
    color: black;
}
#navbar.sticky .fa-bars {
    color: black;
}

/* end of navbar style  */
.divider {
    height: 1px;
    background-color: #90b8f0;
    max-width: 1280px;
    margin: 4rem auto;
}

header {
    background-image: url("./images/herobg.svg");
    min-height: 100vh;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2042b6;
    background-blend-mode: multiply;
}

.parallelogram-container {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallelogram {
    width: 200px;
    height: 428px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skewX(-32deg);
    background: transparent;
    border: 1px solid #fff;
    z-index: 1;
}

.about-section {
    background-image: url("./images/about.png");
    min-height: 60vh;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Padding for the default arrow icon */
.dropdown {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='24px' height='24px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding-right: 2.5rem;
    padding-left: 1rem;
}

/* Dropdown menu background color */
.dropdown option {
    background-color: white;
    color: black;
}

/* table style  */
.table-container {
    margin: 20px 0;
    overflow-x: auto;
    width: 100%;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.table-container th,
.table-container td {
    padding: 12px 15px;
}

.table-container th {
    font-weight: bold;
}

.table-container tr:nth-child(odd):not(.heading-row) {
    background-color: #f4f4f4;
}

.table-container tr:hover {
    background-color: #d2e6fc;
}

.table-container a:hover {
    text-decoration: underline;
}

/* Media Queries for small and medium screens */
@media screen and (max-width: 1024px) {
    .table-container table {
        font-size: 16px;
    }

    .table-container th,
    .table-container td {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .table-container table {
        font-size: 14px;
    }

    .table-container th,
    .table-container td {
        font-size: 14px;
    }
}

/* end of table style  */
